.Button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  background-color: var(--color-lime);
  color: var(--color-slate-900);
  transition: background-color 0.2s ease;
  width: min-content;
  height: min-content;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.Button:hover,
.Button:focus {
  background-color: var(--color-red);
  color: var(--color-black);
}
