.layout {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30em;
  padding-bottom: 30em;
  height: min-content;
  overflow: hidden;
}

@media (max-width: 768px) {
  .layout {
    max-width: var(--max-width-mobile);
    margin: 0 auto;
    padding: 0;
    height: 100vh;
  }
}
