input,
select {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--color-slate-300);
  border-radius: 4px;
  width: 100%;
}

input:focus {
  border-color: var(--color-lime);
  outline: none;
}
