.Container {
  max-width: 1200px; /* ограничение ширины на десктопе */
  width: 95%; /* адаптивная ширина */
  margin: 0 auto; /* центрирование по горизонтали */
  padding: 0;
  border-radius: 10rem;
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .Container {
    width: 100%; /* на мобилке контейнер растягивается */
    max-width: 100%; /* убираем ограничение */
    margin: 0; /* убираем авто-центрирование */
    border-radius: 0; /* обычно на мобилке без скруглений */
  }
}
