.Container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 0rem;
  box-shadow: none;
  border-radius: 10rem;
  overflow-x: hidden;
  width: 95%;
  height: 600px;
  background-color: var(--color-white);
  box-shadow: 0em 0.5em 0.5em 0.3em var(--color-slate-500);
}

@media (max-width: 768px) {
  .Container {
    width: 100%;
    margin: 0;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
