@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700; /* диапазон весов для variable font */
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400; /* можно указать конкретный вес */
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 1px; /*for using REM units*/
}

body {
  font-family: -apple-system, "Plus Jakarta Sans", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
}

h1 {
  font-weight: 700; /* bold */
}

strong {
  font-weight: 500; /* medium */
}

em {
  font-style: italic;
}
