.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: var(--font-weight-bolt);
}

.radio-group-label {
  font-family: var(--font-family);
  font-size: 0.875em;
  font-weight: 400;
  color: var(--color-slate-900);
  margin-bottom: 0.5em;
}

.radio-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  gap: 0.5em;
  text-wrap: nowrap;
  font-family: var(--font-family);
  font-size: 1em;
  font-weight: 700;
}

.radio-container {
  border: 1px solid var(--color-slate-900);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5em;
}

label.radio-option > input[type="radio"] {
  margin-left: 0;
  margin-right: auto;
  width: 1em;
}

.radio-container:has(input[type="radio"]:checked) {
  background-color: var(--color-lime);
  border-color: var(--color-lime);
}
